<section id="about" class="text-center about-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2>About</h2>
                <p>Hi, I'm <b>Roberto</b> - a software developer. I love working in <b>app</b> and <b>web developement</b> and I like to work on a variety of projects in my free time. If I'm not <b>programming</b> I'm
                    spending my time playing <b>video games</b>, learning <b>Japanese</b> and learning to play <b>piano</b>.</p>
            </div>
        </div>
    </div>
</section>
