<section id="contact" class="text-center contact-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Contact</h2>

                <p><a href="mailto:{{ site.email }}" target="_blank"><i class="mdi mdi-email-outline"></i> {{ site.email }}</a></p>

                <p><a href="{{ site.github }}" target="_blank"><i class="mdi mdi-github-circle"></i> Github</a></p>

                <p><a href="{{ site.twitter }}" target="_blank"><i class="mdi mdi-twitter"></i> Twitter</a></p>
            </div>
        </div>
    </div>
</section>
