<section id="skills" class="text-center skills-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Skills & Experience</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-md-offset-1">
                <h2>Languages</h2>

                <ul class="skills-list">
                    {% for language in site.data.skills.languages %}
                    <li>{{ language }}</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 col-md-offset-2">
                <h2>Frameworks / SDKs</h2>

                <ul class="skills-list">
                    {% for framework in site.data.skills.frameworks %}
                    <li><a href="{{ framework.link }}" target="_blank">{{ framework.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</section>
