<section id="software" class="text-center software-section">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2>Software</h2>
            </div>
        </div>
        {% for project in site.data.projects %}

        {% comment %}
        // can't check for equality after modulo operation :/
        "if forloop.index0 | modulo:3 == 0"
        {% endcomment %}

        {% if forloop.first or
        forloop.index0 == 3 or
        forloop.index0 == 6
        %}
        <div class="row software-row">
            {% endif %}

            <div class="col-md-4">
                {% include sections/projects/project.html content=project %}
            </div>

            {% if forloop.last or
            forloop.index0 == 2 or
            forloop.index0 == 5
            %}
        </div>
        {% endif %}

        {% endfor %}

        {% for project in site.data.projects %}
        {% if project.more_id %}
        <div class="collapse multi-collapse" id="{{ project.more_id }}">
            {% include sections/projects/more/{{ project.more_id }}.html %}
        </div>
        {% endif %}
        {% endfor %}
    </div>
</section>
