<header class="title">
    <div class="title-body">
        <div class="title-container">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="title-heading">Roberto Doering</h1>
                        <p class="title-text">Software Developer<br>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-container">
            <a href="#about" class="btn btn-circle page-scroll">
                <i class="mdi mdi-chevron-down"></i>
            </a>
        </div>
    </div>
</header>
