<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <h2>Learnkana</h2>

            <p>
                The purpose of this project was to get to know <b>Googles</b> new mobile framework <a href="https://flutter.io" target="_blank"><b>Flutter</b></a> and create an app that can help people get started
                learning Japanese with a nice user interface.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3 col-xs-6">
            <img class="img-responsive" src={{ "/img/projects/learnkana_main.png" }}>
        </div>
        <div class="col-md-3 col-xs-6">
            <img class="img-responsive" src={{ "/img/projects/learnkana_table.png" }}>
        </div>
        <div class="col-md-3 col-xs-6">
            <img class="img-responsive" src={{ "/img/projects/learnkana_study.png" }}>
        </div>
        <div class="col-md-3 col-xs-6">
            <img class="img-responsive" src={{ "/img/projects/learnkana_quiz.png" }}>
        </div>
    </div>
</div>
<p>
    <a data-toggle="collapse" href="#{{ project.more_id }}">&ltshow less&gt</a>
</p>
