<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="{{ site.description }}">
    <link rel="shortcut icon" type="image/png" href="/favicon.png">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="stylesheet" href="{{ "/style.css" | prepend: site.baseurl }}">

    <link rel="stylesheet" href="{{ "/css/materialdesign/css/materialdesignicons.min.css" | prepend: site.baseurl }}">

    <link href="https://fonts.googleapis.com/css?family=Comfortaa:700|Poiret+One|Raleway:200|Source+Code+Pro:200" rel="stylesheet" type="text/css">
</head>
