/*!
 * Start Bootstrap - Grayscale Bootstrap Theme (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    width: 100%;
    height: 100%;
    font-family: "Raleway", sans-serif;
    color: #fff;
    background-color: #000;
}

html {
    width: 100%;
    height: 100%;
}

section {
    padding: 50px 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-align: center;
    font-family: "Poiret One", sans-serif;
    letter-spacing: 2px;
}

h2 {
    margin-bottom: 35px;
}

h3 {
    font-size: 26px;
    margin: 0 0 15px;
}

p {
    font-size: 18px;
    margin: 0px 0px 10px;
}

@media(min-width:767px) {
    p {
        font-size: 20px;
    }
}

.light {
    font-weight: 400;
}

a {
    color: {{ site.color.links }};
    -webkit-transition: all .2s ease-in-out;
    -moz-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}

a:hover,
a:focus {
    text-decoration: none;
    color: {{ site.color.primary }};
}

.navbar-custom {
    margin-bottom: 0;
    border-bottom: 1px solid rgba(0,0,0,.3);
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    color: #fff;
}

.navbar-custom a {
    color: #fff;
}

.navbar-custom .nav li.active {
    outline: none;
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar-custom .nav li a {
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

.navbar-custom .nav li a:hover,
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a.active {
    background-color: rgba(0, 0, 0, 0.4);
}

.navbar {
    padding: 20px 0;
    border-bottom: 0;
    letter-spacing: 1px;
    background-color: rgba(0, 0, 0, 0.0);
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    -moz-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
}

.top-nav-collapse {
    padding: 0;
    background-color: rgba(0, 0, 0, 0.3);
}


/*
 * title section
 */
.title-container {
    padding: 35px 0px;
    background-color: rgba(0, 0, 0, 0.5);
}

.title {
    display: table;
    width: 100%;
    height: 100%;
    text-align: center;
    color: #fff;
    text-transform: lowercase;
    background-color: {{ site.color.dark1 }};
    background: url(/img/tokyo-night-bg.jpg) no-repeat bottom center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.title .title-body {
    display: table-cell;
    vertical-align: middle;
}

.title .title-body .title-heading {
    font-size: 56px;
    margin: 0px;
}

.title .title-body .title-text {
    font-family: "Source Code Pro", monospace;
    font-size: 18px;
    margin: 0px;
}

@media(min-width:767px) {
    .title .title-body .title-heading {
        font-size: 100px;
    }

    .title .title-body .title-text {
        font-size: 25px;
    }
}

.title .button-container {
    position: absolute;;
    width: 100%;
    padding-top: 40px;
}

/*
 * about section
 */
.about-section {
    width: 100%;

    background-color: {{ site.color.dark2 }};
}

.about-section p {
    text-align: justify;
    font-size: 28px;
    margin: 0px;
}

/*
 * software section
 */
.software-section {
    width: 100%;

    background-color: {{ site.color.dark1 }};
}

.software-row {
    padding: 35px 0px;
}

/*
 * skills section
 */
.skills-section {
    width: 100%;

    background-color: {{ site.color.dark2 }};
}

.skills-list {
    font-size: 18px;
    text-align: left;
    list-style-type: none;
}


@media(min-width:767px) {
    .skills-list {
        font-size: 20px;
    }
}
.skills-list {

}

/*
 * contact section
 */
.contact-section {
    width: 100%;

    background-color: {{ site.color.dark1 }};
}

/*
 * project
 */
.project {
    margin: 35px 0px;

    text-align: left;

    background-color: rgba(0, 0, 0, 0.15);
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: rgba(255, 255, 255, 0.15);
}

@media(min-width:992px) {
    .project {
        margin: 0px;
    }
}

.project-title {
    padding: 15px;
    margin: 0px;
}

.project p {
    margin: 0px;
    margin-top: 5px;
}

.project img {
    width: 20%;
    float: left;
}

@media(min-width:992px) {
    .project img {
        width: 27%;
    }
}

.project-tags .badge {
    background-color: {{ site.color.primary }};
    text-transform: lowercase;
}

.project-tags {
    padding: 0px 15px 0px;
}

.project-description {
    padding: 15px;
}

.project-links {
    padding: 0px 15px 15px;
}

.project-more {
    padding: 0px 15px 15px;
    text-align: center;
    font-size: 18px;
}

.collapse.in, .collapsing {
    border-top-style: solid;
    border-bottom-style: solid;
    border-top-width: 1px;
    border-bottom-width: 1px;
    border-color: #aaa;
}

/*
 * circle button
 */
.btn-circle {
    width: 50px;
    height: 50px;
    padding: 5px 11px;
    border: 1px solid #fff;
    border-radius: 35px;
    border-color: rgba(255, 255, 255, 0.5);
    font-size: 28px;
    color: rgba(255, 255, 255, 0.7);
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-transition: background .3s ease-in-out;
    -moz-transition: background .3s ease-in-out;
    transition: background .3s ease-in-out;
}

@media(min-width:767px) {
    .btn-circle {
        width: 70px;
        height: 70px;
        padding: 6px 12px;
        border-radius: 35px;
        font-size: 40px;
    }
}

.btn-circle:hover,
.btn-circle:focus {
    outline: 0;
    color: #fff;
    background: rgba(20, 20, 20, 0.5);
}

.btn-circle i.animated {
    -webkit-transition-property: -webkit-transform;
    -webkit-transition-duration: .6s;
    -moz-transition-property: -moz-transform;
    -moz-transition-duration: .6s;
}

.btn-circle:hover i.animated {
    -webkit-animation-duration: 1.5s;
    -moz-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear;
    -moz-animation-timing-function: linear;
}

.btn {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 400;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out;
}

.btn-default {
    border: 1px solid {{ site.color.links }};
    color: {{ site.color.links }};
    background-color: transparent;
}

.btn-default:hover,
.btn-default:focus {
    border: 1px solid {{ site.color.links }};
    outline: 0;
    color: #000;
    background-color: {{ site.color.links }};
}

ul.banner-social-buttons {
    margin-top: 0;
}

ul.banner-social-buttons li {
    margin-bottom: 15px;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    ul.banner-social-buttons li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons li:last-child {
        margin-bottom: 0;
    }
}


::-moz-selection {
    background: rgba(0, 0, 0, .6);
}

::selection {
    background: rgba(0, 0, 0, .6);
}

img::selection {
    background: 0 0;
}

img::-moz-selection {
    background: 0 0;
}

body {
    webkit-tap-highlight-color: rgba(255,255,255,.6);
}
