<!DOCTYPE html>
<html>
{% include head.html %}
<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
{% include nav.html %}
{% include sections/title.html %}
{% include sections/about.html %}
{% include sections/software.html %}
{% include sections/skills.html %}
{% include sections/contact.html %}
{% include footer.html %}
{% include js.html %}
</body>
</html>
