<div class="project">
    <!-- icon -->
    {% if include.content.icon_path %}
    <img src={{ include.content.icon_path }}>
    {% endif %}

    <!-- title -->
    <h3 class="project-title">{{ include.content.title }}</h3>

    <!-- tags -->
    <div class="project-tags">
        {% for tag in include.content.tags %}
        <span class="badge">{{ tag }}</span>
        {% endfor %}
    </div>

    <!-- description -->
    <div class="project-description">
        {% for description in include.content.short_description %}
        <p>{{ description }}</p>
        {% endfor %}
    </div>

    <!-- links -->
    <div class="project-links">
        {% for link in include.content.links %}
        {% for link_button in site.data.link_buttons %}
        {% if link_button.type == link.type %}
        {% if link_button.class %}
        <p><a href="{{ link.url }}" target=”_blank”><i class="{{ link_button.class }}"></i> {{ link_button.title }}</a></p>
        {% else %}
        <p><a href="{{ link.url }}" target=”_blank”>{{ link_button.title }}</a></p>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </div>

    <!-- more -->
    {% if include.content.more_id %}
    <div class="project-more">
        <a class="showmore" data-toggle="collapse" href="#{{ include.content.more_id }}">&ltshow more&gt</a>
    </div>
    {% endif%}
</div>
